# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.rollicProject.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\unityProjects\rollicProject\.idea\.idea.rollicProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
